@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
/* ================= TOP HEADER ============ */
.top-header{
    background-color: #3d5f00;
}
.top-header .header-end{
    display: flex;
    justify-content: end;
    gap: 20px;
}
.top-header .inpsear{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
}
.top-header .inpsear::placeholder{
    color: white;
}
.top-header input[type="text"]:focus-visible{
    outline: none;
} 
.top-header form{
    position: relative;
}
.top-header .btnser{
    position: absolute;
    top: -6px;
    right: 165px;
    color: white;
}
.top-header .account a,span{
    color: white;
    font-weight: 700;
}
.top-header .bg-green{
    background-color: #608b14;
}
.top-header .icons{
    display: flex;
    gap: 20px;
}
.nav ul{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.nav ul a{
    text-transform: uppercase;
    color: #3d5f00;
    font-weight: bold;
    font-family: "Roboto";
}
/* ============= homepage =========== */
.homepage{
    background: url(images/homepage.png) no-repeat center;
    background-size: cover;
}
.homepage .home-text{
    padding: 150px 0px;
}
.homepage .home-text h1{
    font-family: "Alegreya Sans";
    color: #3d5f00;
    font-weight: 700;
    text-transform: uppercase;
}
.homepage .home-text h2,p{
    font-family: "Alegreya Sans";
    color: #3d5f00;
    text-transform: capitalize;
}
.homepage .divider{
    height: 2px;
    width: 200px;
    background-color: #3d5f00;
    margin: 10px 0px;
}
.homepage .order{
    display: flex;
    gap: 10px;
}
.homepage .orderbtn{
    height: 40px;
    width: 150px;
    color: white;
    background-color: #3d5f00;
    text-transform: uppercase;
    border: 2px solid #3d5f00;
    border-radius: 20px 0px 20px 0px;
}
.homepage .arwbtn{
    height: 40px;
    width: 50px;
    color: white;
    background-color: #3d5f00;
    text-transform: uppercase;
    border: 2px solid #3d5f00;
    border-radius: 20px 0px 20px 0px;
}