@media (min-width:992px){
    .container{
        margin: 0px 80px;
    }
    /* ============== header navigation ================= */
      header .navigations .nav{
        display: block;
    }
    header .navigations .theme button{
        display: none;
    }
     /* ============ about us ================ */
     .about-us .about-flex{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
     /* =============== what we do ============== */
     .what-we-do .what-flex{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .what-we-do .what-flex .right-text{
        padding: 0px;
    }
}